* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a {
  outline: none;
  text-decoration: none; }

img {
  border: none; }

body {
  height: 100%;
  background-color: #fafafa; }

header {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 4px #b8bcbe;
  box-shadow: 0 0 5px 4px #b8bcbe; }
  header img.logo {
    float: left;
    margin-top: 28px; }
  header .head-buttons {
    margin-top: 40px;
    float: right; }
    header .head-buttons a {
      line-height: 12px;
      margin-right: 45px;
      color: #777777;
      text-transform: uppercase;
      font-weight: bold; }
      header .head-buttons a:nth-last-child(1) {
        margin-right: 0; }
      header .head-buttons a:hover {
        color: #000000; }
  header:after {
    clear: both;
    display: block;
    content: ''; }

footer {
  padding-top: 64px;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 4px #b8bcbe;
  box-shadow: 0 0 5px 4px #b8bcbe; }
  footer .logo-footer {
    text-align: center;
    margin-bottom: 44px; }
  footer .social {
    text-align: center;
    line-height: 61px;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb; }
    footer .social a {
      margin-right: 57px;
      color: #777777;
      font-size: 13px; }
      footer .social a:nth-last-of-type(1) {
        margin-right: 0; }
  footer .footer-bot {
    line-height: 94px;
    text-align: center; }
    footer .footer-bot p {
      text-transform: uppercase;
      font-size: 10px;
      color: #9c9c9c; }
      footer .footer-bot p span {
        color: black; }

.container {
  max-width: 1140px;
  margin: auto; }

body {
  background-color: #fafafa; }

.first-section {
  position: relative;
  background-image: url("../images/single-post_banner.png");
  background-size: cover;
  height: 350px;
  width: 100%; }
  .first-section h1 {
    line-height: 56px;
    font-size: 33px;
    background-color: #000000;
    padding: 11px 34px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Roboto;
    letter-spacing: 4.8px;
    margin-bottom: 44px;
    margin-top: 115px;
    position: absolute; }
  .first-section p {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 214px;
    position: absolute;
    font-family: Roboto;
    letter-spacing: 7.2px; }
  .first-section img {
    position: absolute;
    right: 0; }

.blog {
  margin: auto;
  max-width: 945px; }
  .blog .post {
    text-align: center; }
    .blog .post h2 {
      margin-top: 70px;
      font-family: Roboto;
      margin-bottom: 25px;
      text-transform: uppercase;
      font-size: 21px;
      text-align: center;
      letter-spacing: 4.5px; }
    .blog .post p {
      color: #777777;
      font-family: Roboto;
      font-size: 14px;
      margin-bottom: 25px;
      letter-spacing: 0.35px; }
      .blog .post p span {
        margin: 0 63px; }
      .blog .post p i {
        margin-right: 8px; }
  .blog p {
    margin: auto;
    margin-top: 50px;
    font-family: Roboto;
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 30px;
    max-width: 809px; }
    .blog p:nth-last-of-type(1) {
      margin-top: 0;
      margin-bottom: 85px; }
  .blog blockquote {
    border: solid 1px #e1e1e1;
    border-left: solid 4px #c8c8c8;
    font-family: "PT Serif";
    padding: 23px 31px 29px 38px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #777777;
    font-size: 18px;
    font-style: italic;
    line-height: 30px; }
  .blog .forma {
    max-width: 810px;
    margin: auto; }
    .blog .forma h3 {
      margin-bottom: 49px;
      font-family: Roboto;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: #000000;
      font-size: 20px;
      text-align: center; }
    .blog .forma form input:nth-child(1) {
      width: 250px;
      line-height: 40px;
      padding-left: 9px;
      border: solid 1px #ebebeb;
      border-left: solid 3px #afafaf;
      margin-right: 26px;
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 32px; }
    .blog .forma form input:nth-child(2) {
      width: 250px;
      line-height: 40px;
      padding-left: 12px;
      border: solid 1px #ebebeb;
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 32px;
      margin-right: 26px; }
    .blog .forma form input:nth-child(3) {
      width: 250px;
      line-height: 40px;
      padding-left: 12px;
      border: solid 1px #ebebeb;
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 32px; }
    .blog .forma form textarea {
      width: 100%;
      resize: none;
      height: 150px;
      box-sizing: border-box;
      padding: 11px 11px;
      border: solid 1px #ebebeb;
      margin-bottom: 29px; }
    .blog .forma form button {
      margin-left: 307px;
      margin-bottom: 87px;
      text-transform: uppercase;
      font-size: 11px;
      background-color: black;
      padding: 15px 41px;
      color: #ffffff;
      border: none;
      font-family: Roboto; }

/*# sourceMappingURL=single_post.css.map */
